################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/back-end/packages
/back-end/.vs
/back-end/Webdisk.Backend/obj/Debug
/back-end/Webdisk.Backend/bin
/front-end/app/build
